dist/
dist-stencil/
dist-storybook/
www/
loader/
build/
src/components.d.ts
storybook-static
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
/components/

.stencil/
.idea/
.history/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
