fireenjin-select-tags {
  display: block;
  overflow: visible !important;
  position: relative;
  z-index: 9;    
}

fireenjin-select-tags ion-label {
  align-self: unset !important;
  color: var(--ion-text-color, #000);
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  display: inline-block;
  background: transparent;
  text-align: left;
  padding: 2px 35px 8px 0;
  font-family: var(--ion-font-family);
  color: var(--ion-text-color, #000) !important;
}

fireenjin-select-tags .invalid {
  --border-color: var(--ion-color-danger) !important;
}

fireenjin-select-tags .invalid ion-label {
  color: var(--ion-color-danger) !important;
}

fireenjin-select-tags .valid {
  --border-color: var(--ion-color-success) !important;
}

fireenjin-select-tags .valid ion-label {
  color: var(--ion-color-success) !important;
}

fireenjin-select-tags ion-item {
  --background: transparent !important;
}

fireenjin-select-tags .options-wrapper {
  height: 50px;
}

fireenjin-select-tags fireenjin-chip-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}