fireenjin-json-editor {
  --jse-theme-color: var(--ion-color-primary);
  --jse-theme-color-highlight: var(--ion-color-primary-tint);
  --jse-error-color: var(--ion-color-danger);
  --jse-warning-color: var(--ion-color-warning);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
