<a type="button" class="a" data-el="a-1">
  <slot></slot>
</a>
<style>
  .a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px;
  }
</style>
<script>
  (() => {
    const state = {};
    let props = {};
    let context = null;
    let nodesToDestroy = [];
    let pendingUpdate = false;

    function destroyAnyNodes() {
      // destroy current view template refs before rendering again
      nodesToDestroy.forEach((el) => el.remove());
      nodesToDestroy = [];
    }

    // Function to update data bindings and loops
    // call update() when you mutate state and need the updates to reflect
    // in the dom
    function update() {
      if (pendingUpdate === true) {
        return;
      }
      pendingUpdate = true;

      document.querySelectorAll("[data-el='a-1']").forEach((el) => {
        el.setAttribute("href", props?.href);

        Object.assign(el.style, {
          background: `var(--color-${props?.color})`,
        });
      });

      destroyAnyNodes();

      pendingUpdate = false;
    }

    // Update with initial state on first load
    update();
  })();
</script>
