ion-label {
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  display: block;
  background: transparent;
  text-align: left;
  padding: 0 0 8px 0;
}

.invalid .input-wrapper {
  border-bottom-color: var(--ion-color-danger) !important;
}

.invalid .label {
  color: var(--ion-color-danger) !important;
}

ion-item {
  position: relative;
  border-bottom: none !important;
  box-shadow: none !important;
}

ion-icon[slot="start"] {
  margin-top: auto;
  margin-right: 8px;
}

ion-item.is-hidden {
  display: none;
}

ion-item ion-label {
  color: var(--ion-color-medium) !important;
}

ion-item ion-input {
  border: none;
  box-shadow: none !important;
  outline: none !important;
  font-size: 16px;
  font-weight: normal !important;
}

ion-item.item-has-focus {
  --border-width: 0;
  border-color: var(--ion-color-primary);
}

ion-item.item-has-focus ion-label {
  color: var(--ion-color-primary) !important;
}

ion-input.autocomplete-field {
  --padding-top: 13px !important;
}

ion-button {
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: 3px;
  z-index: 3;
}

ion-button .button-inner {
  font-size: 14px;
  color: var(--ion-color-primary);
  padding-right: 25px;
}

.manual-fields {
  width: 100%;
  padding-top: 5px;
}

.manual-fields ion-input {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 17px;
}

.manual-fields ion-select {
  --padding-start: 8px;
}

.manual-fields ion-grid floodbot-state-autocomplete,
.manual-fields ion-grid ion-input {
  display: block;
  min-width: 150px;
}

.autocomplete-field {
  display: block;
  padding-top: 8px;
}

.manual-fields ion-grid,
.manual-fields ion-grid ion-row ion-col {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.manual-fields ion-input:not(.zip-input) {
  border-bottom: 1px solid var(--ion-color-light-shade, #eee) !important;
}
